# Core Web & API
flask
flask-cors
requests
gunicorn

# LangChain & AI
langchain>=0.3.0
langchain-community>=0.3.0
langchain-google-genai>=2.0.0
langchain-core>=0.3.0
google-generativeai
chromadb

# Data Handling
pandas==2.2.3
statsmodels==0.14.4
pyarrow
numpy

# Geospatial
geopy

# Utilities
python-dotenv 
langchain-classic
psycopg2-binary 
langchain-chroma
scipy==1.13.1
matplotlib
seaborn 
statsmodels 
